# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [16]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2

print(result)

7.4
9.4

##### Subtraction

In [13]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1
print(result_diff)

1.1
0.10000000000000009

##### Multiplication

In [17]:
result_mul = num1 * num2

print(result_mul)

result_mul *= 2

print(result_mul)

10.8
21.6

##### Division

In [21]:
result_div = num2/num1
print(result_div)

result_div /= 2

print(result_div)

2.7
1.35

##### Floor Division

In [23]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [27]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [29]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [30]:
name = "Jordan"
print(name)

Jordan

##### print() <br>
<p>Don't forget about end=' '</p>

In [33]:
print("This is my first name:" , name)

print("Full Name:", name, end=" Bohnlein")

This is my first name: Jordan
Full Name: Jordan Bohnlein

##### String Concatenation

In [37]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [42]:
number = "32"

change_type_num = int(number)

print(number)
print(change_type_num + 1)

32
33

##### input()

In [46]:
# name = input("What is your name?")
# print(name)

age = int(input("What is your age? "))
add_age = age + 5
print(add_age)

What is your age? 35
40

##### format()

In [50]:
age = (input("What is your age? "))

result_string = "You are {}, {}, and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life, {name}"
print(result_again)

What is your age? 26
You are 26, Jordan, and you are getting wiser!
26 is a great time in life, Jordan

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [55]:
name = input("What is your name? ")
color = input("What is the color of your car? ")
year = input("What is the year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")

results = f"{name}, you drive a {color} {make} {model} from {year}."
print(results)

What is your name? Jordan
What is the color of your car? Grey
What is the year of your car? 2007
What is the make of your car? Honda
What is the model of your car? Pilot
Jordan, you drive a Grey Honda Pilot from 2007.

### If Statements

In [63]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 16
num2 = 16

# if num1 == num2:
#     print("Equal")
# else:
#     print("Not equal")
    
if num2 > num1:
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("They are equal")

They are equal

##### 'is' keyword

In [64]:
# The 'is' keyword is for checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print("This is the exact same number/object")

This is the exact same number/object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/np/4z0dgqb55nb2xp210jkc4vy00000gq/T/ipykernel_8495/3263654205.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [67]:
name = input("What is your name? ")

if "p" in name:
    print("The letter 'P' is in your name")
if "p" not in name:
    print("The letter 'P' is not in your name")

What is your name? peter
The letter 'P' is in your name

## Using 'and'/'or' with If Statements

In [ ]:
num_11 = 15
num_12 = 3
num_13 = 21
num_14 = 3

# If with 'and' statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [68]:
# Syntax:
# For counter in condition:

name = "Jordan Bohnlein"
for letter in name:
    print(letter)

J
o
r
d
a
n

B
o
h
n
l
e
i
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [70]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [71]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [72]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [ ]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)

##### Looping 'While True'

In [ ]:
game_over = False

while True:
    print

##### While & For Loops Used Together

In [74]:
num = 0

while num < 5:
    print("/n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: " + str(i))
        
    num += 1

/n While loop iteration: 0
For loop iteration: 0
For loop iteration: 1
/n While loop iteration: 1
For loop iteration: 0
For loop iteration: 1
/n While loop iteration: 2
For loop iteration: 0
For loop iteration: 1
/n While loop iteration: 3
For loop iteration: 0
For loop iteration: 1
/n While loop iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

In [75]:
#  /-5/ = 5
# Absolute value

print(abs(-5))

5

### Try and Except

In [ ]:
#  Use this to log out graceful and useful error messages
# Does not stop the program

### Lists

##### Declaring Lists

In [96]:
list_1 = []

names = ['Max', 'Cindi', 'Grant', 'Hedwig', 'Bob']
print(names)

['Max', 'Cindi', 'Grant', 'Hedwig', 'Bob']

##### Indexing a List

In [84]:
# list_name[start: stop: step]

#single index
print(names[1])

# Print starting at index 1 and go to the end
print(names[1:])

# Print starting at the beginning and going up to a certain number
print(names[:2])

# print starting at 1 and going up by 2 in each iteration
print(names[1::2])

# print starting at the end and go backwards
print(names[::-1])

Cindi
['Cindi', 'Grant', 'Hedwig', 'Bob']
['Max', 'Cindi']
['Cindi', 'Hedwig']
['Bob', 'Hedwig', 'Grant', 'Cindi', 'Max']

##### .append()

In [97]:
names.append('Jordan')
print(names)

['Max', 'Cindi', 'Grant', 'Hedwig', 'Bob', 'Jordan']

##### .insert()

In [87]:
names.insert(3, 'Rachel')
print(names)

['Max', 'Cindi', 'Grant', 'Rachel', 'Hedwig', 'Bob', 'Jordan']

##### .pop()

In [88]:
# Defaults to the last value if no parameter is given
# Pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)

Grant


##### .remove()

In [95]:
# Value to be removed rather than index
names.remove('Bob')
print(names)

# remove multiples
while 'Jordan' in names:
    names.remove('Jordan')
print(names)

['Max', 'Cindi', 'Rachel', 'Hedwig']

##### del()

In [98]:
# Goes by index, rather than value
# Can cause index errors if not used carefully

del(names[1])
print(names)

['Max', 'Grant', 'Hedwig', 'Bob', 'Jordan']

##### Concatenating Two Lists

In [103]:
# Will append 2 lists together; it will not add the values

list_2 = [0, 1, 2]
list_3 = [4, 5, 6]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 4, 5, 6]

##### Lists Within Lists

In [102]:
# Lists can hold any type of other element, including other lists
# They can go as deep as you want; this is called nested lists

names = ['Max', 'Jon', 'Nick', ['Sally', 'Sue', 'Tamika']]
print(names)
print(names[3][1])

['Max', 'Jon', 'Nick', ['Sally', 'Sue', 'Tamika']]
Sue

##### Looping Through Lists

In [104]:
# Two ways to loop through list: one by index, the other by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
    
# Loop with 'in'

for i in names:
    print(i)

Max
Jon
Nick
['Sally', 'Sue', 'Tamika']
Max
Jon
Nick
['Sally', 'Sue', 'Tamika']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [2]:
for i in range(1, 20):
    if i**3 <= 1000:
        print(i**3)
    else:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [34]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(1, 101):
   if num > 1:
       for i in range(2, num//2 + 1):
           if num % i == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [109]:
age = int(input("What is your age? "))

if age < 18:
    print("You are a child")
elif age <= 65:
    print("You are an adult")
else:
    print("You are a senior")

What is your age? 66
You are a senior